body
{
	background-image: url("haikei.jpg");
	background-size:cover;
	
	color: #f0f0f0;
	text-align: center;
	margin: 50px;
}

/* NEWSリンクの表示 */
a img {
  border: none;
  vertical-align: middle;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  color: #b0f5f5;
  text-decoration: none;
}

a:hover {
  color: #ffffff; /* 白く光らせる */
}

/* NEWSリンクの表示終了 */


.Title
{
	font-size: 70px;
	color: #f0f0f0;
}


/* icon size */
#icon_YT
{
	width: 9%;
}

#icon_X
{
	width: 9%;
}

#icon_insta
{
	width: 9%;
}


/* 見出しサイズ */
.Title_Text
{
	font-size: 40px;
	text-align: left;
	margin-left: 13%
}

/* NEWS text */
#NEWS
{
	font-size: 20px;
	text-align: left;
	margin-left: 18%
}

/* MV display */
#MV {
  display: flex;               /* ← 横並び！ */
  gap: 50px;                   /* ← 動画同士の間隔 */
  flex-wrap: wrap;             /* ← スマホで縦並びにする準備 */
  margin-left: 14%;
  margin-top: 20px;
}

.yt-frame {
  width: 40%;
  aspect-ratio: 16 / 9;        /* モダンな高さ調整！ */
  border: none;
  max-width: 100%;             /* 親幅に合わせて縮む */
}


/* CD news */
#RELEASE
{
	font-size: 25px;

	text-align: left;
	margin-left: 14%;
	margin-top: 0%;
	
}

.CD_name
{
	font-size: 20px;

	text-align: left;
	margin-left: 10%;
	margin-top: 0%;
}

.CD_photo
{
	width: 40%;
}

/* メディアクエリ(600px) */
@media (max-width: 600px) {

	.Title
	{
	font-size: 30px;
	}
	.Title_Text
	{
	font-size: 25px;
	margin-left: auto;
	color: #ffffff;
	}

	#icon_YT
{
	width: 18%;
}

#icon_X
{
	width: 18%;
}

#icon_insta
{
	width: 18%;
}

	#NEWS
	{
	font-size: 12px;
	color: #ffffff;
	}

	.yt-frame {
    width: 100%;     /* ← 全幅に広げる */
	max-width: 100%;
  	}

  	#MV {
	display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    padding: 0 10px;
  	}

	#RELEASE
	{
	font-size: 14px;
	text-align: center;

	}

	.CD_name
	{
	font-size: 12px;
	text-align: center;
	margin: 0;
	}

	.CD_photo
	{
	width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
	}
}
/* メディアクエリ終了*/
